b {
    color: #ff4081ff;
}

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: var(--mud-palette-secondary);
    background-color: var(--mud-palette-action-default-hover);
}


/*1a1a27ff black
92929fff grey*/